<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PARAM.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{ 'PARAM.PHYSIOLOGICAL_DATA' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>{{ 'PARAM.WEIGHT' | translate }} (kg)</ion-label>
        <ion-input type="number" [(ngModel)]="physiologicalDataService.weight" (change)="physiologicalDataService.saveWeight()" required min="1" max="200"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PARAM.SENSITIVITY' | translate }}</ion-label>
        <ion-input type="number" [(ngModel)]="physiologicalDataService.k" (change)="physiologicalDataService.saveK()" required step="0.01" min="0.01" max="10"></ion-input>
      </ion-item>
      <button ion-button outline block small (click)="goToSensitivityCoefficientPage()">{{ 'PARAM.SENSITIVITY_HELP' | translate }}</button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{ 'PARAM.CARBOHYDRATES' | translate }}
    </ion-card-header>
    <ion-card-content>
      <coefficient-barchart *ngIf="chartData" [data]="chartData"></coefficient-barchart>
      <ion-grid>
        <ion-row *ngIf="physiologicalDataService.carbohydrateCoefficients && physiologicalDataService.carbohydrateCoefficients.length > 0">
          <ion-col col-5>{{ 'PARAM.START_HOUR' | translate }}</ion-col>
          <ion-col col-5>{{ 'PARAM.COEFFICIENT' | translate }}</ion-col>
        </ion-row>
        <ion-row *ngFor="let carbohydrateCoefficient of physiologicalDataService.carbohydrateCoefficients">
          <ion-col col-5>{{ carbohydrateCoefficient.startHour }}h</ion-col>
          <ion-col col-5>{{ carbohydrateCoefficient.coefficient }}</ion-col>
          <ion-col col-2>
            <button ion-button block clear small (click)="openPopover($event, carbohydrateCoefficient)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <button ion-button outline block small (click)="openPopover($event)">
          {{ 'PARAM.ADD_CARBOHYDRATE' | translate }}
        </button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{ 'PARAM.BLOOD_GLUCOSE_UNITS' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="bloodGlucoseService.unit" color="primary" (ionChange)="bloodGlucoseService.saveUnit()">
        <ion-segment-button value="{{ unit.value }}" *ngFor="let unit of bloodGlucoseService.units">
          {{ unit.value }}
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>{{ 'PARAM.DEMI_UNIT' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="parametersService.demiUnit" (ionChange)="parametersService.saveDemiUnit()"></ion-toggle>
    </ion-item>
  </ion-card>
  <ion-card color="dark">
    <ion-card-header>
      Beta
    </ion-card-header>
    <ion-card-content>
      <ion-item color="dark">
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
          <ion-option value="en">English</ion-option>
          <ion-option value="fr">Français</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div padding>
    <button ion-button outline block color="light" (click)="goToAboutPage()">
      {{ 'ABOUT.TITLE' | translate }}
    </button>
  </div>
</ion-content>
