<ion-header>
  <ion-navbar>
    <ion-title>Parameters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Physiological data
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Weight (kg)</ion-label>
        <ion-input type="number" [(ngModel)]="physiologicalDataService.weight" (change)="physiologicalDataService.saveWeight()" required min="1" max="200"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Insulin sensitivity coefficient</ion-label>
        <ion-input type="number" [(ngModel)]="physiologicalDataService.k" (change)="physiologicalDataService.saveK()" required step="0.01" min="0.01" max="10"></ion-input>
      </ion-item>
      <button ion-button block (click)="goToSensitivityCoefficientPage()">Help me calculate this coefficient</button>
      <hr>
      Carbohydrate coefficient
      <ion-grid>
        <ion-row>
          <ion-col col-5>Start hour</ion-col>
          <ion-col col-5>Coefficient</ion-col>
        </ion-row>
        <ion-row *ngFor="let carbohydrateCoefficient of physiologicalDataService.carbohydrateCoefficients">
          <ion-col col-5>{{ carbohydrateCoefficient.startHour }}h</ion-col>
          <ion-col col-5>{{ carbohydrateCoefficient.coefficient }}</ion-col>
          <ion-col col-2>
            <button ion-button block clear small (click)="openPopover($event, carbohydrateCoefficient)">
              <ion-icon name="create"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <button ion-button outline block small (click)="openPopover($event)">
          Add a carbohydrate coefficient
        </button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Blood glucose units
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="bloodGlucoseService.unit" color="primary" (ionChange)="bloodGlucoseService.saveUnit()">
        <ion-segment-button value="{{ unit.value }}" *ngFor="let unit of bloodGlucoseService.units">
          {{ unit.value }}
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Demi unit of Insulin</ion-label>
      <ion-toggle [(ngModel)]="parametersService.demiUnit" (ionChange)="parametersService.saveDemiUnit()"></ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>