<ion-header>
  <ion-navbar>
    <ion-title>
      Insulin
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToParametersPage()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="danger" *ngIf="!physiologicalDataService.hypoPower">
    <ion-card-content>
      Please enter your physiological data in the parameters.
      <button ion-button block color="light" icon-start (click)="goToParametersPage()">
        <ion-icon name="options"></ion-icon>
        Parameters
      </button>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label floating>Blood glucose ({{ bloodGlucoseService.unit }})</ion-label>
    <ion-input type="number" clearInput [(ngModel)]="glucose" (change)="calcul()" autofocus [disabled]="!physiologicalDataService.hypoPower"></ion-input>
  </ion-item>
  <ion-card *ngIf="insulinUnit" color="primary">
    <ion-card-header>
      Insulin to do: <b>{{ insulinUnit | insulin}}</b> units
    </ion-card-header>
  </ion-card>
</ion-content>
